---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?city=columbus&key=<ADDRESS_API_KEY>&street=1888%20summit%20st&zipcode=43201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"1888 Summit
        St","last_line":"Columbus OH 43201-5506","delivery_point_barcode":"432015506888","components":{"primary_number":"1888","street_name":"Summit","street_suffix":"St","city_name":"Columbus","default_city_name":"Columbus","state_abbreviation":"OH","zipcode":"43201","plus4_code":"5506","delivery_point":"88","delivery_point_check_digit":"8"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"39049","county_name":"Franklin","carrier_route":"C033","congressional_district":"03","rdi":"Residential","elot_sequence":"0316","elot_sort":"A","latitude":40.001600,"longitude":-83.000920,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"N","active":"Y"}}]'
  recorded_at: Wed, 07 Sep 2022 04:35:16 GMT
recorded_with: VCR 6.1.0
